.table-container {
    width: 100%!important;
}

.table-container .row {
    margin: 0;
}

.table-container .col {
    border: 1px solid #6c757d;
    padding: 5px;
    overflow-wrap: break-word;
}

.table-container .col:not(:last-child) {
    border-right-width: 0;
}

.table-container .row:not(:last-child) .col {
    border-bottom-width: 0;
}

.table-container .row:first-child .col {
    padding: 10px;
    background-color: #343a40;
    color: white;
}